# =========================
# GODOT
# =========================

.godot/
.import/
*.import
*.uid

# =========================
# EXPORT / BUILD
# =========================

android/
build/
dist/
bin/

# =========================
# TEMP / LOG
# =========================

*.tmp
*.log

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

